<!DOCTYPE html>
<!-- espacio de nombres de thymeleaf y spriing security para thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title
	th:text="${@environment.getProperty('company.name')} + ': ' + ${title}"></title>
<!-- Integrando bootstrap de forma remota en la vista clientlist -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">

</head>
<body>
	<!-- menú de navegación de bootstrap  -->
	<header th:fragment="header">
		<section th:replace="components/navbar :: navbar"></section>
		<!-- Hasta el momento el metodo save o el delete  no envian ningun tipo de 
		mensaje al usuario de información de éxito, error, alerta o información al 
		usuario los tipos de mensajes que se mandan despues de redirigir son los 
		mensajes flash que se guardan en la session http, pero va a durar hasta 
		el siguiente request, por lo tanto se guarda en el REQUEST actual después
		de realizar una operación, vamos a tener un contenedor div, por cada tipo 
		de mensaje flash  -->
		<div class="alert alert-success" th:if="${success} != null"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error} != null"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning} != null"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info} != null"
			th:text="${info}"></div>
	</header>
	<div class="container"></div>
	<footer th:replace="components/footer :: footer" class="container">
	</footer>
</body>
</html>