<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-ligth">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<!-- Enlace al controlador donde recibe un cliente por paámetro y
							 muestra el formualrio para crear factura--> <a
						sec:authorize="hasRole('ROLE_ADMIN')"
						class="btn btn-primary btn-xs"
						th:href="@{'/invoice/form/' + ${client.id}}"
						th:text="'New Invoice'"></a>
				</h4>
				<img th:if="${#strings.length(client.photo) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%"
					th:src="@{'/uploads/' + ${client.photo}}"
					th:alt="${client.firstName} + ' ' + ${client.lastName}">
				<ul class="list-group">
					<li class="list-group-item" th:text="${client.firstName}"></li>
					<li class="list-group-item" th:text="${client.lastName}"></li>
					<li class="list-group-item" th:text="${client.email}"></li>
					<li class="list-group-item" th:text="${client.createAt}"></li>
				</ul>
				<!-- Cuando está vacía mostramos mensaje y cuando no mostramos la tabla -->
				<div class="alert alert-info my-a"
					th:if="${#lists.isEmpty(client.invoices)}"
					th:text="${@environment.getProperty('invoices.not.assigned')} + ' ' + ${client.firstName} + ' ' + ${client.lastName}"></div>
				<table class="table table-bordered table-striped my-4"
					th:if="${not #lists.isEmpty(client.invoices)}">
					<thead class="thead-dark">
						<tr>
							<th>Invoice No.</th>
							<th>Description</th>
							<th>Date</th>
							<th>Total</th>
							<th>Show</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="invoice : ${client.invoices}">
							<td th:text="${invoice.id}"></td>
							<td th:text="${invoice.description}"></td>
							<td th:text="${invoice.createAt}"></td>
							<td th:text="${invoice.total}"></td>
							<td>
								<a class="btn btn-primary btn-xs"
									th:href="@{'/invoice/show/' + ${invoice.id}}"
									th:text="'Detail'"></a>
							</td>
							<!-- Vamos a preguntar mediante  Javascript si se está seguro de eliminar la factura -->
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<a class="btn btn-danger btn-xs"
									th:href="@{'/invoice/delete/' + ${invoice.id}}"
									th:text="'delete'"
									onclick="return confirm('Are you sure you want to delete the invoice?');"></a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>