<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<!-- menú de navegación de bootstrap  -->
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-ligth">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<!-- El Id de cliente lo obtenemos a traves de factura -->
					<a class="btn btn-ligth btn-xs"
						th:href="@{'/show/' + ${invoice.client.id}}"
						th:text="'&laquo; Back'"></a>
				</h4>
				<form th:action="@{/invoice/form}" th:object="${invoice}"
					method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="Client"></label>
						<div class="col-sm-6">
							<input
								th:value="${invoice.client.firstName} + ' ' + ${invoice.client.lastName}"
								disabled="disabled" class="form-control ">
						</div>
					</div>

					<div class="form-group row">
						<label for="description" class="col-sm-2 col-form-label"
							th:text="Description"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{description}" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label for="observation" class="col-sm-2 col-form-label"
							th:text="Observation"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observation}" class="form-control"></textarea>
						</div>
					</div>



					<div class="form-group row">
						<label for="search_product" class="col-sm-2 col-form-label"
							th:text="'Search Product'"></label>
						<div class="col-sm-6">
							<input type="text" name="search_product" id="search_product"
								class="form-control">
						</div>
					</div>

					<!-- Item Invoice -->
					<table th:replace="invoice/items-template :: itemInvoice"></table>
					<!-- Creando las líneas de la Factura usando jQuery y la plantilla de ítems,
					 esté id de esta tabla es importante por que después con jquery vamos a hacer
					  referencia a esta tabla con el id="loadProductItem" y le vamos a agregar la fila
					  el <tr> dentro del <tbody> 
					   -->
					<table id="loadItemProducts"
						class="table table-sm table table-striped table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>

						</tbody>

					</table>
					<!-- Gran total -->
					<h5>
						Total
						<span class="badge badge-secondary" id="grand_total">0</span>
					</h5>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${title}"
								class="btn btn-secondary">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- Autocomplete Script -->
	<script th:replace="invoice/js/product-autocomplete :: javascript"></script>
</body>
</html>